/* Photo quicklinks */
.photo-quicklinks {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #374550;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  font-family: raven;
}

.photo {
  border-radius: 50%;
  width: 104px;
  height: 150px;
  object-fit: scale-down;
  opacity: 1;
  border: 4px #90a2ab solid;
}

.work {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px;
}
.work:visited {
  text-decoration: none;
  color: whitesmoke;
}
.work:active {
  text-decoration: none;
  color: whitesmoke;
}
.work:hover {
  font-style: italic;
  cursor: pointer;
}

.soundtrack {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px;
}
.soundtrack:visited {
  text-decoration: none;
  color: whitesmoke;
}
.soundtrack:active {
  text-decoration: none;
  color: whitesmoke;
}
.soundtrack:hover {
  font-style: italic;
  cursor: pointer;
}

/* Desktop */
@media only screen and (min-width: 720px) {
  /* Photo quicklinks */
  .photo-quicklinks {
    flex-direction: row;
    color: whitesmoke;
    font-size: 20px;
  }
  .work {
    padding: 3rem;
    margin: 1rem;
    height: 200px;
  }
  .work:hover {
    color: #29180a;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
  .soundtrack {
    padding: 3rem;
    margin: 1rem;
    height: 200px;
  }
  .soundtrack:hover {
    color: #29180a;
    background-size: cover;
    background-image: url("../images/soundtrack-clear.jpg");
  }
}
