.App {
  display: grid;
  grid-template-rows: 100px auto;
  text-align: center;
  background-color: #eae7dc;
  font-family: 'Open Sans', sans-serif;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #d8c3a5;
  color: #e85a4f;
  font-size: 280%;
  font-style: italic;
  font-weight: bold;
}

.Body {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  background-color: #eae7dc;
  padding: 20px;
  margin: 10px;
  color: #8e8d8a;
}

.header {
  text-align: start;
}

.aboutMe {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.My-Work {
  text-align: center;
}
